<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="user" class="ru.job4j.xmlconfig.User">
        <constructor-arg name="name" value="Alex" />
    </bean>

    <bean id="memoryS" class="ru.job4j.xmlconfig.MemoryStorage">
    </bean>

    <bean id="jdbcS" class="ru.job4j.xmlconfig.JdbcStorage">
    </bean>

    <bean id="userS" class="ru.job4j.xmlconfig.UserStorage">
        <constructor-arg name="storage" ref="memoryS" />
    </bean>

</beans>